* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1C69D4;
    --secondary-color: #1b206e;
    --extra-color: #f60f20;
}

html,
body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

h1, h2, h3, h4{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
}


/* Menu */

.menu {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    z-index: 2;
    display: none;
    cursor: pointer;
}

.menu i {
    cursor: pointer;
    
}


/* Navbar */
.navbar {
    position: relative;
    background: url(/assets/img/headerimg.jpg) no-repeat center center / cover;
    height: 100vh; 
}
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    box-shadow: inset 0 10px 50px #000000 ,inset 0 -100px 55px #000000; */
    
}
    



.container {
    position: relative;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    z-index: 2;
}

.container .logo {
    width: 50px;
    position: absolute;
    right: 20px;
}

.left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.left-menu a{
    color: #fff;
    padding: 20px;
    font-weight: 600;
}
.left-menu a:hover{
    border-bottom: 4px solid var(--primary-color);
}

.right-menu a{
    color: #fff;
    padding: 20px;
    font-weight: 600;
    align-items: center;
}
.right-menu a:hover{
    border-bottom: 4px solid var(--primary-color);
}

.right-menu .address{
    width: 20px;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 3px;
    height: 3px;
    /* display: flex; */
    margin: auto;
    border-top: 1px solid #f4f4f4;
}

/* .sheer {
    position: absolute;
    top: 120px;
    right: 100px;
} */

.nav-content{
    position: relative;
    padding: 40px;
    display: flex; 
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-content h3 {
    font-size: 60px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow:rgba(0, 0, 0, 0.9);

}

/* Celebration Section */

.celebration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    
}

.sec-one {
    background: url(/assets/img/celebration.jpg) no-repeat center center / cover;
    height: 300px;
    padding: 40px;
}
.sec-two {
    background: url(/assets/img/thenewx1.jpg) no-repeat center center / cover;
    height: 300px;
    padding: 40px;
}

.sec-one h3,
.sec-two h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-smooth: dark;
    
}


/* Cards  */

.cards {
    
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 3fr 2fr 2fr 2fr 1fr;
    grid-gap: 10px;
    width: 100%;
    /* height: 70px; */

}



.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    padding: 10px;
    
}

.card-1 h4{
    font-size: 20px;
    font-weight: bold;
}


/* Tab-1-content */

.tab-content-all {
    margin-top: 2rem;
}

.tab-content-all img {
   
   width: 500px;
   height: 300px;
   border: 2px solid rgba(0, 0, 0, 0.2);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  
   
}
.model-section{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model {
    padding: 0 100px; 
    
}

.model ul {
    display: flex;

    
}
.model ul li {
    padding: 1rem;
    /* margin-right: 10px; */
    
}
.model ul li:first-child {
    border-bottom: #1C69D4 4px solid;
    cursor: pointer;
}


.table {
    /* width: 50%;  */
    padding: 0 100px;  
    border-bottom: 1px solid #F2F2F2; 
    border-top: 1px solid #F2F2F2; 

}

.table thead th {
    padding: 0.8rem;
    text-align: center;

}
.table thead tr th {
    font-weight: bold;
    font-size: 18px;

}

.table tbody tr td {
    padding: 0.8rem 1.5rem;
    text-align: center;
}
.table tbody tr td:first-child {
    border-bottom: #1C69D4 4px solid;
    cursor: pointer;
}

/* Middle Cards */

.middle-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
   
    /* width: 100%; */

}

.middle-cards .card-1,
.middle-cards .card-2,
.middle-cards .card-3,
.middle-cards .card-4,
.middle-cards .card-5,
.middle-cards .card-6,
.middle-cards .card-7 {
    background: none;
    border: 1px solid #F2F2F2;
    width: 300px;
    margin: 10px;
    max-width: 1100px;
    /* justify-content: center; */
}


/* Contact */

.contact {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.box {
    background: #F2F2F2;
    margin: 10px;
    padding: 40px;
    width: 400px;
    height: 130px;
    text-align: center;
}

.box h3 {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.box i {
    font-size: 28px;
    color: #666;
}

.contact .box:hover{
    background: #eeecec;
    cursor: pointer;
}





/* Buttons */



.btn {
    display: inline-block; 
    color: #fff;
}
.btn:hover{
    opacity: 0.75;
}

.btn-light-outline {
    background: none;
    margin: auto;
    border: 2px solid #fff;
    padding: 13px 75px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    cursor: pointer;
    margin: auto;
    background: #1C69D4;
    padding: 15px 63px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    border: 0;
}

.btn-light {
    cursor: pointer;
    background: none;
    color: #111;
    margin: auto;
    border: 2px solid #111;
    padding: 15px 60px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}

.noback-btn {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}
.noback-btn:hover {
    color: var(--primary-color);
}
.noback-btn:hover i {
    color: #fff;
}


/* Footer */

.footer {
    background: #E6E6E6;
    height: 550px;
    margin-bottom: 40px;
    
}

.footer .footer-heading {
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.footer .footer-heading h3 {
    font-size: 20px;
    margin-top: 60px;
    margin-right: 250px;
    font-weight: 100;
    color: #111;
}

.footer-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    margin: auto;
}

.footer-inner ul li a {
    color: #666;
    padding: 5px 0;
    
}
.footer-inner ul li a:hover {
    color: #000;  
}
.footer-inner h4 {
    color: #000;  
    margin-bottom: 20px;
    font-size: large;
}

.divider {
    border-top: 1px solid #999;
    width: 80%;
    margin-bottom: 40px;
}

/* Lower Footer */

.lower-footer {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.lower-inner-2 ul {
    display: flex;
}
.lower-inner-2 ul li a {
    padding: 10px;
    color: #1C69D4;
    font-weight: bold;
    font-size: 16px;
}
.lower-inner-2 ul li a:hover {
    color: #000;
}



/* Media Queries */

@media (max-width: 768px) {
    
    .navbar {
        position: relative;
        background: url(/assets/img/headerimg.jpg) no-repeat center center / cover;
        height: 300PX; 
    }
    .left-menu {
        display: none;
    }
    .right-menu {
        display: none;
    }
    .nav-content .btn{
        padding: 15px 58px;
        margin: 3px;
    }
    .nav-content .btn-light-outline{
        padding: 12px 70px;
        margin: 3px;
    }
    .nav-content h3 {
        margin:0;
        font-size: 30px;
        width: 100%;
        
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .table {
        display: none;
    }

    .celebration {
        grid-template-columns: 1fr;
    }

    .contact {
        flex-wrap: wrap;
    }
    
    .menu{
        display: block;
    }
}